
#aside-content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    background: rgba(255, 255, 255, 0.8);
}

/* #aside-content .card-widget{
    opacity: 0.8;
} */

body::-webkit-scrollbar {
    display: none;
}

/* 头像 */
/* .avatar-img img {
    -webkit-transition: none;
    transition: none;
} */

/* 副标题 */
#subtitle {
    letter-spacing: 3px;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}


/* 文章封面标题 */
.article-title {
    transition: 0.4s;
}

.recent-post-item:hover .article-title {
    transform: translateX(8px);
}

/* 个人信息卡片 */
#aside-content .card-info {
    height: 378px;
    transition: 0.5s;
    /* opacity: 0.8; */
}

#aside-content .card-info:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
}

/* 图标 */

.social-icon:nth-child(1) {
    --i: 1;
}

.social-icon:nth-child(2) {
    --i: 2;
}

.social-icon:nth-child(3) {
    --i: 3;
}

.social-icon {
    display: inline-block;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(25px);
    transition-delay: calc(0.1s * var(--i))
}

#aside-content .card-info:hover .social-icon {
    transform: translateY(0);
    opacity: 1;
}

.social-icon .fab:hover {
    transform: none;
}

#aside-content .card-info .is-center .avatar-img {
    transition: 0.5s;
    transform: translateY(5px);
}

#aside-content .card-info:hover .is-center .avatar-img {
    transform: translateY(-5px);
}

#aside-content .card-info .author-info__description {
    line-height: 15px;
    font-size: 12px;
    letter-spacing: 1px;

}

#aside-content .card-info #card-info-btn {
    margin-top: 0;
}

/* .layout {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin: none;
    display: flex;
    justify-content: center;
} */

#body-wrap{
    background-color: rgba(0, 0, 0, 0.3);

}


/* 页脚footer */
/* 渐变色滚动动画 */
@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
#footer {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    opacity: 0.65;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#footer:before {
    background-color: rgba(0, 0, 0, 0);
}
